/* 

.container1 {
  position: absolute;
  width: 1440px;
  height: 592px;
  left: 0px;
  top: -1px;

  

  background: #ffcd9e;
}

.container2 {
  position: relative;
  width: 1440px;
  height: 298px;
  left: 0px;
  top: 592px;

  

  background: #282828;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  

  color: #ffffff;
}

 */

#wrapper {
  height: 100px;
  width: 100px;
  overflow-x: hidden;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container1 {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 592px;
  left: 0px;
  top: -1px;

  /* The brown */

  background: #ffcd9e;
}

.container2 {
  display: flex;
  background: #282828;
  position: absolute;
  width: 1440px;
  height: 298px;
  left: 0px;
  top: 592px;
}

.right2 {
  width: 148px;
  height: 36px;
  margin: 0 auto;
  

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */

  text-align: right;

  color: #ffffff;
}

.left2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */

  color: #ffffff;
}

.text1 {
  text-align: right;
}

.images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.right1{
    /* align-items: end;
    left: 15.98%;
right: 15.58%;
top: 11.55%;
bottom: 11.51%; */
flex-flow: column wrap;

}
.left1{
    
}